*{
  margin: 0;
  padding: 0;
}
nav{
  background-color: #432818;
  height: 3vh;
  width: 100%;
  color: #ffe6a7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-bottom: 2px solid #ffe6a7;
}
#logo{
  background-color: #ffe6a7;
  color: #432818;
  border-radius: 5rem;
  height: 2rem;
  width: 6rem;
  text-align: center;
  line-height: 2rem;
  font-weight: bold;
  font-size: 1rem;
  font-family: sans-serif;
}
a{
  color: #ffe6a7;
  text-decoration: none;
}
#nav-links{
  display: flex;
  gap: 1rem;
}
#icons{
  height: 2rem;
  width: 8rem;
  border-radius: 5rem;
  background-color: #ffe6a7;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
img{
  height: 1.5rem;
  width: 3rem;
}